{% extends 'bs_data.html' %}
{% load static from staticfiles %}
{% block pnldatahead %}
    <script src="{% static "ingress/js/ingress_dt.js" %}"></script>
    <script src="{% static "ingress/js/distribucion_fn.js" %}"></script>
    <link rel="stylesheet" href="{% static "plugins/bootstrap-touchspin-v4.2.5/css/jquery.bootstrap-touchspin.css" %}"/>
    <script src="{% static "plugins/bootstrap-touchspin-v4.2.5/js/jquery.bootstrap-touchspin.js" %}"></script>
{% endblock %}
{% block columns %}
    <th style="width: 5%;">Nro</th>
    <th style="width: 15%;">Usuario Recibio</th>
    <th style="width: 10%;">Proveedor</th>
    <th style="width: 10%;">Cantidad</th>
    <th style="width: 15%;">F.Registro</th>
    <th style="width: 10%;">Total</th>
    <th style="width: 15%;" class="text-center"><i class="fa fa-wrench" aria-hidden="true"></i></th>
{% endblock %}

{% block additional %}
    <div class="modal fade" id="MyModalInventory" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title"><b>Detalle del Ingreso <i class="fa fa-search" aria-hidden="true"></i></b></h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <table width="100%"
                                       class="table table-bordered table-hover"
                                       id="tblCompDetails">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%;">Nro</th>
                                        <th style="width: 60%;">Material</th>
                                        <th style="width: 10%;">Costo</th>
                                        <th style="width: 10%;">Cantidad</th>
                                        <th style="width: 10%;">Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="MyModalDistr" role="dialog">
        <div class="modal-dialog modal-ml">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title"><b>Materiales a Distribuir<i class="fa fa-search" aria-hidden="true"></i></b>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input type="hidden" id="sales">
                        <table width="100%"
                               class="table table-bordered table-hover"
                               id="tblDistr">
                            <thead>
                            <tr>
                                <th style="width: 5%;">Nro</th>
                                <th style="width: 30%;">Nombre</th>
                                <th style="width: 20%;">Bodega Wagner</th>
                                <th style="width: 30%;">Bodega ProEnergy</th>
                                <th style="width: 10%;">Estado</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group text-left">
                        <div class="row">
                            <div class="col-lg-12">
                                <button id="btnDistr" class="btn btn-sm btn-primary btn-flat" disabled>
                                    <i class="fa fa-refresh" aria-hidden="true"></i> Distribuir Materiales
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
