{% extends 'bs_form_user.html' %}
{% load static from staticfiles %}
{% block pnlformhead %}
    <link rel="stylesheet" href="{% static "plugins/bootstrap-select-1.12.2/css/bootstrap-select.min.css" %}"/>
    <script src="{% static "plugins/bootstrap-select-1.12.2/js/bootstrap-select.js" %}"></script>
    <link rel="stylesheet" href="{% static "plugins/bootstrap-datepicker-1.7.0/css/bootstrap-datepicker.min.css" %}"/>
    <script src="{% static "plugins/bootstrap-datepicker-1.7.0/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "plugins/bootstrap-datepicker-1.7.0/locales/bootstrap-datepicker.es.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "plugins/intl-tel-input-11.1.2/css/intlTelInput.css" %}"/>
    <script src="{% static "plugins/intl-tel-input-11.1.2/js/intlTelInput.min.js" %}"></script>
    <script src="{% static "plugins/select2/js/select2.min.js" %}"></script>
    <script src="{% static "plugins/select2/js/i18n/es.js" %}"></script>
    <link rel="stylesheet" href="{% static "plugins/select2/css/select2.min.css" %}">
    {% block js_users %}
        <script src="{% static "users/js/user_fr.js" %}"></script>
    {% endblock %}
    <script type="application/javascript">
        $(function () {
            $('[name="mobile"]').intlTelInput({
                utilsScript: '{% static "plugins/intl-tel-input-11.1.2/js/utils.js" %}',
                autoPlaceholder: true,
                initialCountry: 'ec',
                onlyCountries: ["ec"],
                formatOnDisplay: false,
                allowDropdown: false
            });
        });
    </script>
{% endblock %}