{% extends 'bs_data.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% load dashboard_tags %}
{% block pnldatahead %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block pnlformhead %}{% endblock %}
{% endblock %}
{% block body %}
    <style>
        .fondo {
            background-image: url('https://issues.jboss.org/secure/attachment/12387931/404-page-04.png');
            background-color: #cccccc;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    </style>
    <body class="hold-transition login-page fondo">
    {% block content %}
        <div>
            <a type="button" onclick="window.history.back()" class="btn-lg btn btn-success">
                <i class="fa fa-reply"></i> Go to Back</a>
        </div>

    {% endblock %}
    </body>
{% endblock %}