{% load static from staticfiles %}
<footer class="main-footer" id="footer">
    <div class="copyright">
        Universidad Estatal de Milagro <br>
        &copy; Copyright <strong>{{ request.session.comp.name }}</strong>. Todos los derechos reservados.<br>
        Desarrollado por <a target="_blank" href="https://algorisoft.com/" class="credits">AlgoriSoft</a>
      </div>
      <div class="text-center">
          <div class="social-links">
              <a href="https://twitter.com" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.youtube.com" class="youtube"><i class="fa fa-youtube-play"></i></a>
          </div>
      </div>
</footer>

