{% extends 'login/login_bs.html' %}
{% load static from staticfiles %}
{% block loginhead %}
    <script src="{% static "js/zxcvbn.js" %}"></script>
    <script src="{% static "login/js/login_change_password_fn.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="login-box">
            <div class="login-logo">
                <a>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <br><h3>ColchaSystem</h3>
                </a>
            </div>
            <div class="login-box-body">
                <p class="login-box-msg">Reseteo de Password</p>
                <form class="form" method="post" id="frmLogin" action="{% url 'login' %}">
                    <input type="hidden" id="id" name="id" value="{{ id }}">
                    <input type="hidden" id="action" name="action" value="{{ action }}">
                    <input type="hidden" id="directory" name="directory" value="{% url 'login' %}">
                    <div class="form-group">
                        <label for="password">Introduzca su nuevo password:</label>
                        <input type="password" class="form-control" id="password" name="password" autofocus
                               placeholder="Ingrese su password"/>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Repita su password:</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                               placeholder="Repita su password"/>
                        <div class="progress password-progress">
                            <div id="strengthBar" class="progress-bar" role="progressbar" style="width: 0;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button id="btnLogin" class="btn btn-primary btn-block btn-lg btn-flat" type="submit">
                                <i class="fa fa-lock" aria-hidden="true"></i> Cambiar
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="login-details">
                                Si deseas retornar<a href="{% url 'login' %}" id="reset_password"> da click aqui
                            </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}