{% extends 'bs_data.html' %}
{% load static from staticfiles %}
{% block pnldatahead %}
   <script src="{% static "contracts/js/contracts_dt.js" %}"></script>
{% endblock %}
{% block columns %}
    <th style="width: 5%;">Nro</th>
    <th style="width: 15%;">Empleado</th>
    <th style="width: 10%;">Dni</th>
    <th style="width: 10%;">F.Inicio</th>
    <th style="width: 10%;">F.Fin</th>
    <th style="width: 10%;">Valor</th>
    <th style="width: 10%;">¿Esta activo?</th>
    <th style="width: 15%;" class="text-center"><i class="fa fa-wrench" aria-hidden="true"></i></th>
{% endblock %}
