{% extends 'bs_data.html' %}
{% load static from staticfiles %}
{% block pnldatahead %}
    <script src="{% static "medidores/js/med_dt.js" %}"></script>
{% endblock %}
{% block columns %}
    <th style="width: 5%;">Nro</th>
    <th style="width: 10%;">Fecha de Ingreso</th>
    <th style="width: 15%;">Medidores</th>
    <th style="width: 15%;">Sellos</th>
    <th style="width: 15%;">Responsable</th>
    <th style="width: 25%;">Eliminar</th>
    <th style="width: 15%;" class="text-center"><i class="fa fa-wrench" aria-hidden="true"></i></th>
{% endblock %}

{% block add_js %}
    <script type="application/javascript">
        var table;
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#data tbody').on('click', 'a[rel="deletemed"]', function () {
                $('.tooltip').remove();
                var td = $('#data').DataTable().cell($(this).closest('td, li')).index(),
                    rows = table.row(td.row).data(),
                    rel = $(this).attr('rel');
                delete_registry_by_id(pathname, {id: rows[0], action: 'deletemed'}, function () {
                    table.ajax.reload();
                });
            });

            $('.table tbody').on('mouseover', 'tr', function () {
                $('[data-toggle="tooltip"]').tooltip({
                    trigger: 'hover',
                    html: true
                });
            });

            $('.table').on('click', 'img', function () {
                load_image($(this).attr('src'));
            });
        });
        $('[data-toggle="tooltip"]').tooltip();
        $('#data tbody').on('click', 'a[rel="deletesell"]', function () {
            $('.tooltip').remove();
            var td = $('#data').DataTable().cell($(this).closest('td, li')).index(),
                rows = table.row(td.row).data(),
                rel = $(this).attr('rel');
            delete_registry_by_id(pathname, {id: rows[0], action: 'deletesell'}, function () {
                table.ajax.reload();
            });
        });

        $('.table tbody').on('mouseover', 'tr', function () {
            $('[data-toggle="tooltip"]').tooltip({
                trigger: 'hover',
                html: true
            });
        });

        $('.table').on('click', 'img', function () {
            load_image($(this).attr('src'));
        });
    </script>

{% endblock %}
{% block additional %}
    <div class="modal fade" id="MyModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title"><b>Detalle del Registro <i class="fa fa-search" aria-hidden="true"></i></b>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="nav-tabs-custom" id="tabs">
                            <ul class="nav nav-tabs">
                                <li class="">
                                    <a href="#tab_1" data-toggle="tab" aria-expanded="true">
                                        <b>Medidores</b>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#tab_2" data-toggle="tab" aria-expanded="false">
                                        <b>Sellos</b>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1">
                                    <table width="100%"
                                           class="table table-bordered table-hover"
                                           id="tblMedidor">
                                        <thead>
                                        <tr>
                                            <th style="width: 10%;">Nro</th>
                                            <th style="width: 50%;">Numeracion</th>
                                            <th style="width: 30%;">Tipo</th>
                                            <th style="width: 10%;">Bodega</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <table width="100%"
                                           class="table table-bordered table-hover"
                                           id="tblSello">
                                        <thead>
                                        <tr>
                                            <th style="width: 10%;">Nro</th>
                                            <th style="width: 70%;">Numeracion</th>
                                            <th style="width: 10%;">Bodega</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}