{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head %}
    <script src="{% static "js/app.min.js" %}"></script>
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
    <script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
    {% block pnlbodyhead %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <script src="{% static "js/dashboard/dashboard_fn.js" %}"></script>
{% endblock %}
{% block body %}
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include 'vtc/bs_header.html' %}
        {% include 'vtc/bs_sidebar.html' %}
        <div class="content-wrapper">
            {% block breadcrumb %}
                <section class="content-header">
                    <h1>
                        Ultimo Accesso
                        <small>{{ request.user.last_login }}</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'dashboard' %}"><i class="fa fa-home"></i> Panel</a></li>
                        {% block pathmodel %}
                            <li><a href="{{ model.url }}"><i class="{{ model.icon }}"></i> {{ model.name }}</a>
                            </li>
                        {% endblock %}
                    </ol>
                </section>
            {% endblock %}
            {% block content %}{% endblock %}
            {% block login %}
                <script type="application/javascript">

                    $(document).ready(function () {
                        setTimeout(function () {
                            $.LoadingOverlay("hide");
                            $.confirm({
                                theme: 'modern',
                                type: 'blue',
                                icon: 'fa fa-exclamation-triangle',
                                title: 'Alerta!',
                                columnClass: 'small',
                                typeAnimated: true,
                                cancelButtonClass: "btn-primary",
                                content: 'La sesión esta por expirar.',
                                autoClose: 'logoutUser|15000',
                                buttons: {
                                    logoutUser: {

                                        text: 'cerrar sesión',
                                        btnClass: 'btn-primary',
                                        action: function () {
                                            $.alert('La sesión ha expirado');
                                            window.location = '/login/logout/';
                                        }
                                    },
                                    danger: {
                                        text: 'cancelar',
                                        btnClass: 'btn-red',
                                        action: function () {
                                            $.alert('continue trabajando');
                                        }

                                    }


                                }
                            });
                        }, 3600000);
                    });

                </script>
            {% endblock %}
        </div>
        {% include 'bs_footer.html' %}
        {% include 'vtc/bs_sbtoggle.html' %}
    </div>
    </body>
{% endblock %}