{% load static from staticfiles %}
{% load security_tags %}
<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ user.get_image }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ user.username }}</p>
                <a ><i class="fa fa-circle text-success"></i> Online / {{ localhost }}</a>
            </div>
        </div>
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header text-center" style="text-transform: uppercase">Panel de Administración</li>
            {% for m in request.session.modules %}
                <li class="treeview">
                    <a>
                        <i class="{{ m.icon }}" aria-hidden="true"></i> <span
                            class="text-right-treeview">{{ m.name }}</span>
                        <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        {% for mod in m.id|get_modules_vertical:request.session.group.id %}
                            <li><a href="{{ mod.url }}"><i class="fa fa-angle-double-right"></i> {{ mod.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            {% for m in request.session.modules_horizontal %}
                <li><a href="{{ m.url }}"><i class="{{ m.get_icon }}"></i> {{ m.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
</aside>